{% extends "blog/base.html" %}
{% block menu %}
<li><a href="/" >Home</a></li>
<li class ="active"><a href="/portfolio" >Portfolio</a></li>
<li><a href="/skills" >Skills</a></li>
<li><a href="/blog">Blog</a></li>
{% endblock %}
{% block content %}
    <!--content-->
    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
    <h1 class="blog text-center">Projects and MOOCS</h1>
      <div class="container ">
         
        {% for entry  in  entries %}
       {% if forloop.counter0|divisibleby:2 %}
      <hr class="featurette-divider"></hr>
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">{{entry.title}} <span class="text-muted"></span></h2>
          <p class="lead">{{entry.description}}</p>
          {%if entry.resource%}<a class= "featurette-resource" href="{{entry.resource}}">{{entry.resource}}</a>{%endif%}
        </div>
        <div class="col-md-5">
          {%if entry.img %}  <img class = "featurette-image img-responsive center-block"  src="{{entry.img.url}}"></a> {% endif %}
        </div><!--close col5-->
      </div><!--closerow-->

      {% else %}
      <div class="row featurette">
        <hr class="featurette-divider"></hr>
          <div class="col-md-7 col-md-push-5">

            <h2 class="featurette-heading">{{entry.title}} <span class="text-muted"></span></h2>
            <p class="lead">{{entry.description}}
            {%if entry.resource%}<a  href="{{entry.resource}}">{{entry.resource}}</a>{%endif%}</p>
          </div>
          <div class="col-md-5 col-md-pull-7">
            {%if entry.img %} <img class = "featurette-image img-responsive center-block " src="{{entry.img.url}}">  {% endif %}
          </div><!--close col 7/5-->
          
      </div><!--close row-->

      {%endif%}
      {% endfor %}
      
    </div><!--close main container-->

    
{% endblock %}
    <!--<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>-->
    <!-- <script>$('featurette-image').click(function (e) {
    $('#myModal img').attr('src', $(this).attr('src'));
});</script> -->
