

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.grid {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}
a {
    color:black;
}
a:hover{
    font-style: none;
}
.name {
    font-size: 14;
    font-weight: bold;
}
.menu {
    display:none;
}
.menubutton{
    display:none;
}

.nav {
    text-align: center;
}
.nav li {
	display: inline;
    padding-top: 20px;
    padding-left:5%;
    padding-right:5%;
    margin-top: 20px;
    font-size: 14px;
}

.contact {
    
}
.contact li {
	display: inline;
    padding: 3%;
    
}
.mobilecontactbutton{
    display:none;
    text-align: left;
}
.mobilecontact {
    display:none;
    list-style:none;
    background-color: white;
    border:1px solid black;
    border-radius: 10px;
    position:absolute;

}


.contact img {
    max-width: 20px;
}
.blog {
    text-align: center;
}
.title {
    font-size: 18;
    text-align: center;
    margin-top: 50px;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    border-radius: 5px;
}
.content{
    max-width: 100%;
    margin-top: 50px;
}
.menu {
    display:none;
    list-style: none;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    position:absolute;
}
.menu li{
    padding: 1em;
}
.images {
    border-radius:95px;
    
    max-width: 40%;
    margin:auto;
}
.row3 p {
    text-align: center;
}
.published {
    font-size: 10px;
}
.resources{
    font-size: 12px;
}
.row1 {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    height: 70px;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    border-radius: 3px;
    position:fixed;
    background-color: white;
}

.row3 {
	width: 100%;
    display: flex;
    
    border-radius: 3px;
    padding-top: 50px;
}
.row4{
	width: 100%;
    display: flex;
    height: 50px;
    border-radius: 3px;
    border-top: 2px solid gray;
    border-bottom:2px solid gray;
    text-align: center;
}
.row4 p{
    padding-top: 5px;
    font-size: 12px;
}
.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;

}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

 @media only screen and (max-width:40em) {
    
    .nav {
        display:none;
    }
    .contact{
        display:none;
    }
    .mobilecontatbutton {
        display:block;
        list-style: none;
        text-align: center;
    }
    .content {
        max-width: 90%;
        margin:auto;
        margin-top: 50px;
    }
    .images{
        max-width:100%;
        display:block;
    }
    .row1 {
        font-size: 1em;
    }
    .menubutton{
        display:block;
        list-style: none;
        text-align: center;
    }

    .col-9{
        width:100%;
    }
    .col-8 {
        width:100%;
    }
    .title{
        margin:auto;
        font-size: 1.5em;
        padding-top: 1em;
        padding-bottom: 1em;
    }
 }