.right {
	padding-right: 8%;
}

.border{
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	border-radius: 5px;
}
.blog{
	padding-bottom: 2em;
	text-align: center;
}
.title{
	padding-top: 2em;
	text-align: center;
}
.blogcontent{
	padding-top: 1em;
	padding-bottom:1em;
}