{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <title>Rachell Calhoun</title>
         <link rel="shortcut icon" type="image/x-icon" href="http://www.favicon-generator.org/favicon-generator/htdocs/favicons/2015-04-11/9b70faf47d3f0c13a97b7d14e4c44152.ico" /> 
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
         <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
         <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
         <link type="text/css" rel="stylesheet" href="{% static 'skills/skills.css'%}"/>

      </head>
      
<body>
<nav class="navbar navbar-default navbar-color">
<div class="container-fluid">
  <div class"navbar-header">
  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" aria-controls="#bs-example-navbar-collapse-1">
  <a href="#"></a>
    <span class= "sr-only">Toggle Navigation</span>
    <span class= "icon-bar"></span>
    <span class= "icon-bar"></span>
    <span class= "icon-bar"></span>
  </button>
  <a class="navbar-brand col-md-3" href="/home">Rachell Calhoun</a>
  </div> 
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" aria-expanded="false">
      <ul class="nav navbar-nav navbar col-md-6 textcolor">

        <li ><a href="/home" >Home</a></li>
        <li><a href="/portfolio" >Portfolio</a></li>
        <li  class ="active"><a href="/skills" >Skills</a></li>
        <li><a href="/blog" >Blog</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right right">        
        <li><a href="https://www.linkedin.com/pub/rachell-calhoun/5a/352/79"><span><i class="fa fa-linkedin-square" alt="LinkedIn"></i></span></a></li>
        <li><a href="mailto:rachell.calhoun@gmail.com"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a></li>
        <li><a href="https://github.com/RachellCalhoun" class="github"> <span><i class="fa fa-github" alt ="Github"></i>
</span></a></li>
        
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
  <div class="container"> <!--/full width of page -->
    <h2 class="pagetitle">My Skills</h2>
    {% for entry  in  skillentries %}
        {% if forloop.counter0|divisibleby:2 %}
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4 skillcontents">

          <h3 class= "title text-center">{{entry.title}}</h3>

          {%if entry.img %} <img class="img-responsive img-circle skillsimage" src="{{entry.img.url}}">{% endif %}
          <p class="skilldescription"> {{entry.description}}</p>
          {%if entry.resource%}<a class= "resource" href="entry.resource">{{entry.resource}}</a>{%endif%}
          <p></p>
        
        </div><!--closing col-md-5-->
        <div class="col-md-1"></div>
        {% else %}
        <div class="col-md-4 skillcontents">
          <h3 class= "title text-center">{{entry.title}}</h3>
          {%if entry.img %} <img class="img-responsive img-circle skillsimage" src="{{entry.img.url}}">{% endif %}
          <p class="skilldescription"> {{entry.description}}</p>
          {%if entry.resource%}<a class= "resource" href="entry.resource">{{entry.resource}}</a>{%endif%}
          <p></p>
        </div><!--closing coldmd5 div-->

        </div>
        {%endif%}
        {% endfor %}
        
        
        
        
      </div><!--close row-->
    </div><!--close container-->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    
    
  
</body>
<div id="footer" >
    <nav class="navbar navbar-default navbar-bottom ">
        <div class="navbar-inner navbar-content-center">
      <div class="col-md-6 text-center">
      <p></p>
        <p>All rights reserved by <em> Rachell Calhoun </em><i class="fa fa-heart"></i>
</p>
      </div>
      <div class="col-md-6 text-center">
      <p></p>
        <p>A bit thanks to Hassan Abid and Jin Park for all the help along the way. </p>
      </div>
      </div>
  </div>
</footer>
</html>

