{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/x-icon" href="http://www.favicon-generator.org/favicon-generator/htdocs/favicons/2015-04-11/9b70faf47d3f0c13a97b7d14e4c44152.ico" />
    <title>Rachell Calhoun</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />

    <!-- Custom styles for this template -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="{% static 'staticpages/home.css'%}"/>

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Fb Tags-->
   <meta property="og:type" content="article" />
   <meta property="og:locale" content="en_US" />
   <meta property="og:title" content="Rachell Calhoun" />
   <meta property="article:author" content="https://www.facebook.com/rachell.calhoun" />
   <meta property="og:description" content="Rachell is Super Human Web Developer. She is also an organizer of Django Girls Seoul" />
   <meta property="og:image"content="https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-xaf1/t31.0-8/416020_10100518485462892_329505339_o.jpg" />
   <meta property="og:url" content="http://rachellcalhoun.com" />
  </head>

  <body>

    <div class="navbar-wrapper">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">Rachell Calhoun</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar col-md-6">

                <li  class ="active"><a href="/" >Home</a></li>
                <li><a href="/portfolio" >Portfolio</a></li>
                <li><a href="/skills" >Skills</a></li>
                <li><a href="/blog" >Blog</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right right">
                <li><a href="https://www.linkedin.com/pub/rachell-calhoun/5a/352/79"><span><i class="fa fa-linkedin-square" alt="LinkedIn"></i></span></a></li>
                <li><a href="mailto:rachell.calhoun@gmail.com"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a></li>
                <li><a href="https://github.com/RachellCalhoun" class="github"> <span><i class="fa fa-github" alt ="Github"></i></span></a></li>
              </ul>
            </div>
          </div>
        </nav>

      </div><!--container-->
    </div><!--navbar wrapper-->
    <hr class="featurette-divider"></hr>
        <div class="container main ">
          <div class="col-md-12">
            <h1 class="title text-center">Super Human Web Developer</h1>
            <img src="https://avatars2.githubusercontent.com/u/10239547?v=3&s=460" class ="img-responsive img-circle portimage" alt ="Rachell Calhoun">
          </div>
        </div>
        <hr class="featurette-divider"></hr>
        <div class="container">
          <footer>
            <div class="row footer">
              <div class="col-md-12">
                <!--<p class="text-left ">Thanks to <a href="http://jinpark.net">Jin</a> and <a href="http://www.hassanabid.com">Hassan</a></p>-->
                <p class="text-left"> Made by <a href="http://www.rachellcalhoun.com">Rachell Calhoun</a> using bootstrap</p>

                <ul class="text-right list-inline" style="none">
                  <li><a href="https://www.linkedin.com/pub/rachell-calhoun/5a/352/79"><span><i class="fa fa-linkedin-square" alt="LinkedIn"></i></span></a></li>
                  <li><a href="mailto:rachell.calhoun@gmail.com"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a></li>
                  <li><a href="https://github.com/RachellCalhoun" class="github"> <span><i class="fa fa-github" alt ="Github"></i></span></a></li>
                </ul>
              </div><!--col-m-12-->
            </div><!--row footer-->
            </footer>
        </div><!--main container-->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->

  </body>
</html>
