{% load staticfiles %}
<!doctype html>
    <html>
      <head>
         <meta name="viewport" content="width=device-width, initial-scale=1">
         <title>Rachell Calhoun</title>
         <link rel="shortcut icon" type="image/x-icon" href="http://www.favicon-generator.org/favicon-generator/htdocs/favicons/2015-04-11/9b70faf47d3f0c13a97b7d14e4c44152.ico" /> 
	       <link type="text/css" rel="stylesheet" href="{% static 'staticpages/home.css'%}"/>
      </head>
      
<body>
  <div class="grid">
    <div class="row1">
      <div class="col-3"> 
        <p class="name">Rachell Calhoun</p>
      </div>
      <div class="col-5">
          <ul class="nav">
            <li><a href="/home">Home</a></li>
            <li>Projects</li>
            <li>Blog</li>
            <li><a href="/resume">Resume</a></li>
          </ul>
      </div>
      <div class="col-4">
          <ul class="contact">
            <li><a href="https://www.linkedin.com/pub/rachell-calhoun/5a/352/79"> <span><img src="http://upload.wikimedia.org/wikipedia/commons/f/f4/Social_icons-linkedin-22x22.png"></span></a></li>
            <li><a href="mailto:rachell.calhoun@gmail.com"><img src="http://upload.wikimedia.org/wikipedia/commons/6/6d/Gmail-highres_2.png"></a></li>
            <li><a href="https://github.com/RachellCalhoun"> <span><img src="http://upload.wikimedia.org/wikipedia/commons/thumb/c/c2/PEO-octocat-1.svg/64px-PEO-octocat-1.svg.png"></span></a></li>

          </ul>
      </div>
    </div>
 
    <div class="row3">
      
      <div class="col-12"><img src="https://avatars2.githubusercontent.com/u/10239547?v=3&s=460"></div>
      
    </div>
    <div class="row3">
      <div class="col-4"></div>
      <div class="col-4">
        <p>I'm a super human web designer.</p>
        <p>My name's Rachell. </p>
      </div>
      <div class="col-4"></div>
    </div>
    
  </div>
</body>
<footer>
  <div class="row4">
      <div class="col-3"></div>
      <div class="col-6">
        <p>All rights reserved by <em>Rachell Calhoun</em></p>
      </div>
      <div class="col-3"></div>
  </div>
</footer>
</html>
