
{% extends "blog/base.html" %}
{% block menu %}
<li class ="active"><a href="/" >Home</a></li>
<li><a href="/portfolio" >Portfolio</a></li>
<li><a href="/skills" >Skills</a></li>
<li><a href="/blog" >Blog</a></li>
{% endblock %}
{% block content%}


        <div class="container mainhome ">
          <div class="col-md-12">
            <h1 class="title text-center">Super Human Web Developer</h1>
          <center>  <img src="https://avatars2.githubusercontent.com/u/10239547?v=3&s=460" class ="img-responsive img-circle portimage" alt ="Rachell Calhoun"></center>
          </div>
        </div>
{% endblock %}
