{% load staticfiles %}
<!doctype html>
    <html>
      <head>
         <meta name="viewport" content="width=device-width, initial-scale=1">
         <title>Rachell Calhoun</title>
         <link rel="shortcut icon" type="image/x-icon" href="http://www.favicon-generator.org/favicon-generator/htdocs/favicons/2015-04-11/9b70faf47d3f0c13a97b7d14e4c44152.ico" /> 
         <link type="text/css" rel="stylesheet" href="{% static 'staticpages/resume.css'%}"/>
      </head>
      
<body>
  <div class="grid">
    <div class="row1">
      <div class="col-3"> 
        <p class="name">Rachell Calhoun</p>
      </div>
      <div class="col-5">
          <ul class="nav">
            <li><a href="/home">Home</a></li>
            <li><a href="/portfolio">Portfolio</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/resume">Resume</a></li>
          </ul>
      </div>
      <div class="col-4">
          <ul class="contact">
            <li><a href="https://www.linkedin.com/pub/rachell-calhoun/5a/352/79"> <span><img src="http://upload.wikimedia.org/wikipedia/commons/f/f4/Social_icons-linkedin-22x22.png"></span></a></li>
            <li><a href="mailto:rachell.calhoun@gmail.com"><img src="http://upload.wikimedia.org/wikipedia/commons/6/6d/Gmail-highres_2.png"></a></li>
            <li><a href="https://github.com/RachellCalhoun"> <span><img src="http://upload.wikimedia.org/wikipedia/commons/thumb/c/c2/PEO-octocat-1.svg/64px-PEO-octocat-1.svg.png"></span></a></li>

          </ul>
      </div>
    </div>
  <div class="row3">
    <div class="col-12">
      <h4>Objective</h4>
      <p>To take a part-time position or internship as a web developer.</p>
      <h4>Experience</h4>
      <p>Teammate SeoulMate App (2014 - Present)</p>
      <ul>
        <li>Collaberating on layout and design </li>
        <li>Research and photo editing</li>
      </ul>
      <h4>Skills</h4>
      <p>Programming Languages: Python, HTML, CSS, Javascript</p>
      <p>Frameworks: Django, Flask</p>
      <h4>Education</h4>
      <p>TESOL Certificate (120 hours)2012</p>
      <p>Business TESOL Certificate (50 hours) 2012</p>
      <p>BA, Spanish and French, Western Michigan University 2006</p>
      <ul>
        <li>Graduated Summa Cum Laude, GPA: 3.9</li>
        
      </ul>
      <h4>Achievements</h4>
      <h5> Awards Recieved:</h5>
        <ul>
        <li>WMU President's Award</li>
        <li>WMU President's Grant</li>
        <li>Sue C. Martis Foreign Language Scholarship</li> </ul>
      <h5>Study Abroad Experiences:</h5>
      <ul>
      <li>Minas,Uruguay: Spanish Semester Abroad</li>
      <li>Alexandria, Egypt: Arabic Summer Semester Abroad</li>
      <li>Quebec City, Canada: French Semester Abroad</li></ul>
      <h5>Languages:</h5>
      <ul>
      <li>English: Native</li>
      <li>Spanish: Advanced</li>
      <li>French: Intermediate</li>
      <li>Korean: Intermediate</li></ul>
      <h4>Work Experience</h4>
      
      <h5><a href="http://www.keda-edu.com">KEDA</a> After-school Program Incheon 2013-Present </h5>
      <ul><li>Create and implement engaging English Language activities to maximize student speaking time</li>
      <li>Evaluate students progress and create structured and organized lesson plans</li>
      <li>Maintain a positive and productive classroom environment </li>
      <li>Use classroom management techniques to positively enhance the children's daily behavior</li></ul>
      <h5> Hi English Business English Instructor2014- 2015</h5>
<ul><li>Create differentiated lessons using a variety of materials: book, worksheets and videos for advanced students</li>
      <li>Give monthly evaluations based on in class discussions and presentations</li></ul>
      <h5> Evan English School, Hwagok Dong 2008-2013</h5>
      <ul><li>Furthering education of ESL techniques for both Korean and Native teachers through KoTESOL conferences</li>
      <li>Act as liaison between Korean and Native teachers with both language and cultural problems</li>
      <li>Develop and implement appropriate curriculum, thorough lesson plans, organized syllabus, and an effective discipline and reward system</li>
      <li>Begin and oversee new conversation program using phone call practice and recording video tests for all students</li>
      <li>Plan and present for events such as: orientation, graduation, field trips and open classes</li></ul>
      <h5>GKI English Academy, Mokdong Seoul 2007-2008</h5>
      <ul><li>Engaged students' through various activities designed for maximum interaction</li>
      <li>Developed lesson plans that were appropriate to students' learning abilities and reflected their needs and interests</li>
      <li>Built rapport with students and families through report cards and open communication with the other staff</li>
      <li>Created and maintained an effective school-wide disciplinary system</li></ul>
      <h4>Activities</h4>
      <h5><a href="http://mooccircle.com"><span>MOOC Circle</span></a>     2014-Present</h5>
      <ul><li>Collaborate with teammates to create and maintain webpages, online communities and mobile applications</li>
      <li>Attend weekly meetings to support continuing education in computer programming</li></ul>
      <h5>Volunteering </h5>
      <ul>
      <li><a href="http://codingclubs.org">Coding Club:</a> Assisting in Educational Programming Events for Youth using Scratch and Code.org, 2014 - Present</li>
      <li>English tutoring to underprivileged teenagers, 2012 - 2014</li>
      </ul>
    </div>
  </div>
      
    
    
  
</body>
<footer>
  <div class="row4">
      <div class="col-6">
        <p>Incheon, South Korea </p>
      </div>
      <div class="col-6">
        <p>All rights reserved by <em>Rachell Calhoun</em></p>
      </div>
      
  </div>
</footer>
</html>
